_ReSharper*
[Bb]in
obj
objd
out/
tmp/
App_Data
*.user
*.sln.cache
*.suo
TestResults
[Tt]humbs.db
buildd.*
release/
packages
lock
.vs/

# project.json related files
*.lock.json
*.nuget.props
*.nuget.targets

# Don't include ScriptAnalyzer binaries
PowerShellEditorServices/**

PowerShellEditorServices.sln.ide/edb.chk
PowerShellEditorServices.sln.ide/edbres00001.jrs
PowerShellEditorServices.sln.ide/storage.ide
*.jrs
